::after,
::before {
    box-sizing: border-box;
}

body {
    overflow-y: scroll;
    margin: 0;
}

a {
    cursor: pointer;
    text-decoration: none;
}

.wrapper {
    align-items: stretch;
    display: flex;
    width: 100%;
}

#sidebar {
    max-width: 264px;
    min-width: 264px;
    background: #363740;
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 0;
    overflow: hidden;
    width: 100%;
    background: #F7F8FC;
}

.sidebar-logo {
    padding: 1.15rem 1.15rem 3rem 1.15rem;
    display: block;
}

.sidebar-logo a {
    color: #a3a4a4;
    font-size: 1.15rem;
    font-weight: 600;
}

.sidebar-nav {
    flex-grow: 1;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
    margin-left: 0;
}

a.sidebar-link {
    padding: 1.3rem 1.625rem;
    color: #A4A6B3;
    position: relative;
    display: block;
    font-size: 0.875rem;
    transition: all .5s;
}

a.sidebar-link:hover {
    background-color: rgb(158, 161, 179, 8%);
}

a.sidebar-link-active {
    padding: 1.3rem 1.625rem;
    background-color: rgb(158, 161, 179, 8%);
    color: #DDE2FF;
    position: relative;
    display: block;
    font-size: 0.875rem;
    border-left: solid 3px #DDE2FF;
}

hr {
    border: .5px solid #DFE0EB;
}

.avatar {
    height: 40px;
    width: 40px;
    border: solid 1px #A4A6B3;
    padding: 2px;
}

.navbar-expand .navbar-nav {
    margin-left: auto;
}

.nav-link {
    margin: 0px 10px;
}

a.link {
    padding: .5rem .5rem;
    color: #A4A6B3;
    position: relative;
    display: block;
    font-size: 0.875rem;
    transition: all .5s;
}

.fs-6 {
    color: #9FA2B4;
    transition: all .5s;
}

.fs-2 {
    color: black;
    transition: all .5s;
}

.sm-grey {
    color: #9FA2B4;
}

span {
    color: black;
}

.card {
    cursor: pointer;
    padding: 1.5rem;
    border: solid 1px #DFE0EB;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    transition: all .5s;
}

.card:hover {
    border: solid 1px #3751FF;
}

.card:hover .fs-6{
    color: #3751FF;
}

.card:hover .fs-2{
    color: #3751FF;
}

.checkbox {
    padding-left: 5px;
  }
  
  .checkbox label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px;
    font-size: small;
  }
  
  .checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  }
  
  .checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555555;
  }
  
  .checkbox input[type="checkbox"] {
    opacity: 0;
    z-index: 1;
  }
  
  .checkbox input[type="checkbox"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
  
  .checkbox input[type="checkbox"]:checked + label::after {
    font-family: 'FontAwesome';
    content: "\f00c";
  }
  
  .checkbox input[type="checkbox"]:disabled + label {
    opacity: 0.65;
  }
  
  .checkbox input[type="checkbox"]:disabled + label::before {
    background-color: #eeeeee;
    cursor: not-allowed;
  }
  
  .checkbox.checkbox-circle label::before {
    border-radius: 50%;
  }
  
  .checkbox.checkbox-inline {
    margin-top: 0;
  }
  
  .checkbox-primary input[type="checkbox"]:checked + label::before {
    background-color: #3751FF;
    border-color: #3751FF;
  }
  
  .checkbox-primary input[type="checkbox"]:checked + label::after {
    color: #fff;
  }
  
  .checkbox-danger input[type="checkbox"]:checked + label::before {
    background-color: #d9534f;
    border-color: #d9534f;
  }
  
  .checkbox-danger input[type="checkbox"]:checked + label::after {
    color: #fff;
  }
  
  .checkbox-info input[type="checkbox"]:checked + label::before {
    background-color: #5bc0de;
    border-color: #5bc0de;
  }
  
  .checkbox-info input[type="checkbox"]:checked + label::after {
    color: #fff;
  }
  
  .checkbox-warning input[type="checkbox"]:checked + label::before {
    background-color: #f0ad4e;
    border-color: #f0ad4e;
  }
  
  .checkbox-warning input[type="checkbox"]:checked + label::after {
    color: #fff;
  }
  
  .checkbox-success input[type="checkbox"]:checked + label::before {
    background-color: #5cb85c;
    border-color: #5cb85c;
  }
  
  .checkbox-success input[type="checkbox"]:checked + label::after {
    color: #fff;
  }
  
  .radio {
    padding-left: 20px;
  }
  
  .radio label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px;
  }
  
  .radio label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out;
  }
  
  .radio label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 11px;
    height: 11px;
    left: 3px;
    top: 3px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #555555;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  }
  
  .radio input[type="radio"] {
    opacity: 0;
    z-index: 1;
  }
  
  .radio input[type="radio"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
  
  .radio input[type="radio"]:checked + label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  
  .radio input[type="radio"]:disabled + label {
    opacity: 0.65;
  }
  
  .radio input[type="radio"]:disabled + label::before {
    cursor: not-allowed;
  }
  
  .radio.radio-inline {
    margin-top: 0;
  }
  
  .radio-primary input[type="radio"] + label::after {
    background-color: #428bca;
  }
  
  .radio-primary input[type="radio"]:checked + label::before {
    border-color: #428bca;
  }
  
  .radio-primary input[type="radio"]:checked + label::after {
    background-color: #428bca;
  }
  
  .radio-danger input[type="radio"] + label::after {
    background-color: #d9534f;
  }
  
  .radio-danger input[type="radio"]:checked + label::before {
    border-color: #d9534f;
  }
  
  .radio-danger input[type="radio"]:checked + label::after {
    background-color: #d9534f;
  }
  
  .radio-info input[type="radio"] + label::after {
    background-color: #5bc0de;
  }
  
  .radio-info input[type="radio"]:checked + label::before {
    border-color: #5bc0de;
  }
  
  .radio-info input[type="radio"]:checked + label::after {
    background-color: #5bc0de;
  }
  
  .radio-warning input[type="radio"] + label::after {
    background-color: #f0ad4e;
  }
  
  .radio-warning input[type="radio"]:checked + label::before {
    border-color: #f0ad4e;
  }
  
  .radio-warning input[type="radio"]:checked + label::after {
    background-color: #f0ad4e;
  }
  
  .radio-success input[type="radio"] + label::after {
    background-color: #5cb85c;
  }
  
  .radio-success input[type="radio"]:checked + label::before {
    border-color: #5cb85c;
  }
  
  .radio-success input[type="radio"]:checked + label::after {
    background-color: #5cb85c;
  }
  
  .text-bg-success {
    background-color: #29CC97;
  }